.center {
    text-align: center;
    margin-top: 90px;

  }




img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 40%;
  }
  body{
    background-color: antiquewhite;
  }